.widget-banner {
    width: 100%;
    height: 25px;
    background-color: transparent;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    cursor: grab;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.widget-banner .remove-button {
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.widget-banner .remove-button:hover {
    background-color: #c00;

}
