.vertical-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap as needed */
}

.vertical-form label {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust the gap between elements as needed */
}

.form-button {
  padding: 10px;
  background-color: #1a1a1a;
  color: #D8CAB8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-button.selected {
  background-color: #0056b3;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust the gap between elements as needed */
}

.form-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-values {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 1px;
  background: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.delete-button:hover {
  color: red;
}