.shiny-text {
    color: #b5b5b5a4;
    /* Adjust this color if needed */
    background: linear-gradient(120deg,
#B88A4B 30%,
            /* Bronze color */
            #FFCC00 70%,
            /* Gold color */
        #B88A4B 100%);
    /* Bronze color */
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}